<html>
    <head>
        <link rel="stylesheet" href="../static/stylesheet.css">
        <script type="text/javascript" src="../static/script.js"></script>
    </head>
    <body>
        <form method="post">
            <label>Helligkeit</label>
            <input type="Helligkeit" name="Helligkeit">
            <label>Geschwindigkeit</label>
            <input type="Geschwindigkeit" name="Geschwindigkeit">
            <label>Wlanname</label>
            <input type="WLAN-Name" name="WLAN-Name">
            <label>Wlanpasswort</label>
            <input type="WLAN-Passwort" name="WLAN-Passwort">
            <label>Text</label>
            <textarea onkeydown="textarealimit(this, 10)" onkeyup="textarealimit(this, 10)" onpaste="textarealimit(this, 10)" type="Text" name="Text" id="Text"></textarea>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>