#TestId{
    padding: 40px;
    background-color: white;
    margin: auto;
    
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    
}


.btn
{
    background-color: #4285F4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #3367D6;
    color: #ffffff;
}
.button-container {
    display: flex;
    justify-content: space-between;

  }
  

  